<li class="dropdow">
    <a asp-controller="Lanche"asp-action="List"
       class="dropdown-toggle" data-toggle="dropdow">
        Lanches<b class="caret"></b>
</a>
    <ul class="dropdown-menu">
        @foreach (var categoria in Model)
        {
            <li>

                <a asp-controller="Lanche" asp-action="List"
                   asp-route-categoria="@categoria.CategoriaNome">@categoria.CategoriaNome</a>

            </li>
        }

        <li class="divider"></li>
        <li>
            <a asp-controller="Lanche"asp-action="List" asp-route-categoria="">Ver Todos os Lanches</a> 
        </a>

    </ul> 
 
</li>